<div class="row">
	<div class="col-lg-10">
		<div class="card shadow-sm bg-white rounded-0">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-8">
						<div class="h6" style="color: #bcbab9;">Pages suggerées</div>
					</div>
					<div class="col-lg-4 text-right">
						<a href="{{ path('search_player') }}" class="text-decoration-none font-weight-bold" style="font-size: small; color: black;">Voir tout</a>
					</div>
				</div>
				<div class="row mt-3">
					<div
						class="col">
						<!-- list of suggestions -->
						{% for player in playersSuggest %}
							{% if player not in app.user.favoritesPlayer and app.user not in player.page.managers  %}
								<div class="row my-3">
									<div class="col-lg-9">
										<img src="{{ asset(player.picture.path) }}" alt="image" class="rounded-circle m-0 float-left" style="width: 45px;height: 45px;"/>
										<h6 class="d-inline mb-0 mx-2 pb-0">
											<a href="{{ path('player', {'slug': player.slug, 'id': player.id})}}" class="text-decoration-none font-weight-bold" style="color: #696c6f;font-size: 14px;">{{ player.name|capitalize }}</a>
										</h6>
										<br class="p-0 m-0">
										<span class="pt-0 mx-2 mt-0" style="font-size: 10px; color: #bcbab9;">
											{% if player.nbFans > 0 %}
												Suivi par
												{{player.nbFans}}
												personne{% if player.nbFans > 1 %}s{% endif %}
											{% else %}
												Il n'a pas encore de followers
											{% endif %}
										</span>
									</div>
									<div class="col-lg-3 text-right align-middle">
										<a href="{{ path('player_follow', {'id': player.id}) }}" class="text-decoration-none align-middle font-weight-bold" style="font-size: small;">Suivre</a>
									</div>
								</div>
							{% endif %}
						{% else %}
							<div class="row">
								<div class="col" style="font-size: small;">
									Vous n'avez pas encore de suggestions
								</div>
							</div>
						{% endfor %}
					</div>

				</div>
			</div>
		</div>
	</div>
</div>