{% extends 'layout.html.twig' %}

{% block title %}{{ player.name }} | Page de joueur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/player.css') }}">
	<link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css" />
{% endblock %}

{% block section %}
<div class="container-fluid" id="user-cover-img" style="background: url('/cdn/images/about_1.jpg');background-size: cover; height: 300px;">
	{#
	<a href="#" class="btn rounded-0 btn-custom-outline-danger bg-white mt-3 p-2 float-right" id="p-c-i"><i class="fas fa-camera fa-lg"></i> <span class="font-weight-bold">Changer l'image</span></a>
	<style>
		#p-c-i:hover {
			color: black !important;
		}
	</style>
	#}
</div>

<div class="container">
	<div class="row">
		<div class="col-md-3 -offset-md-1" >
			<div class="card mb-2 shadow-sm rounded-0">
				<div class="card-header p-5"></div>
				<div class="card-body text-center">
					<img src="{{ asset(player.picture.path) }}" alt=""  style="width: 200px!important; height: 200px!important;" class="rounded-circle card-custom-img border border-white shodow-sm" style="">
					<div class="h6">{{ player.name|capitalize }}</div>
					{% if player.page.isGranted(app.user, 'ADMIN') %}
					<div class="mb-2"><a href="{{path('player_change_picture', {id: player.id})}}" class="text-decoration-none" style="font-size: small;">Modifier votre photo</a></div>
					{% endif %}
					<div>
						{% if app.user in player.fans %}
						<a href="{{ path('player_disfollow', {'id': player.id}) }}" class="btn btn-primary rounded-0">Je ne suis plus fan</a>
						{% else %}
						<a href="{{ path('player_follow', {'id': player.id}) }}" class="btn btn-primary rounded-0">Devenir fan</a>
						{% endif %}
					</div>
				</div>
				<div class="card-footer" style="color: #696c6f;">
					<div class="row">
						<div class="col font-weight-bold">Fans</div>
						<div class="col text-right"><a href="#" class="text-decoration-none font-weight-bold">{{ player.nbFans}}</a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<ul class="nav nav-tabs -justify-content-center mb-4" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Infos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="video-tab" data-toggle="tab" href="#video" role="tab" aria-controls="video" aria-selected="false">Vidéos de matchs</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="statistique-tab" data-toggle="tab" href="#statistique" role="tab" aria-controls="statistique" aria-selected="false">Statistiques</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="transfert-tab" data-toggle="tab" href="#transfert" role="tab" aria-controls="transfert" aria-selected="false">Transferts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="avi-tab" data-toggle="tab" href="#avi" role="tab" aria-controls="avi" aria-selected="false">Avis <span class="badge badge-light">{{ player.nbnotices }}</span> </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Me contacter</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
					<div class="row">
						<div class="col-md-7">
							<h3 class="h4">Vidéo promotionnelle</h3>
							{% if player.promoclip is null and player.page.isGranted(app.user, "ADMIN") %}
								<div class="alert alert-info alert-dismissible fade show" role="alert">
									<p>Il est vital pour vous d'avoir une vidéo promo. La vidéo promotionnelle est un court clip, réalisé à partir de differents jeux, où un joueur se présente et souligne ses attributs.
										<a href="{{ path('add_promo_clip', {'id': player.id}) }}">cliquer ici pour ajouter une vidéo promotionnelle</a>
									</p>
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
							{% endif %}
							
							{% if player.promoclip is not null %}
								<video id="player" playsinline preload="none" controls class="w-100">
									<source src="{{ asset(player.promoclip.path)}}" type="video/mp4" size=360 />
								</video>
							{% else %}
								<div class="h6">{% if app.user not in player.page.managers %}Ce joueur n'a pas encore de video promotionnelle{% endif %}</div>
							{% endif %}
							
							{% if player.promoclip is not null and player.page.isGranted(app.user, "ADMIN") %}
								<a href="{{ path('update_promo_clip', {id: player.promoclip.id}) }}" class="btn btn-block rounded-0 btn-primary">Mettre a jour ma video promo</a>
							{% endif %}
						</div>
						<div class="col-md-5">
							<div class="row">
								<div class="col py-1 my-1 shadow-sm bg-white">
									<h5 class="h4">Informations générales</h3>
									<hr/>
									<ul class="list-unstyled">
										<li>Nom complet : <strong>{{ player.firstname }} {{ player.lastname }}</strong></li>
										<li>Date de naissance : <strong>{{ player.birthday | date('d/m/Y') }}</strong></li>
										<li>Pays de résidence : <strong>{{ player.countryName }}</strong></li>
										<li>Age : <strong>{{ player.age }} ans</strong></li>
										<li>Taille : <strong>{{ player.length }} cm</strong></li>
										<li>Poids : <strong>{{ player.weight }} kg</strong></li>
										<li>Position :
											<strong>
												{% for poste in player.postes %}
													{{ poste }}{% if not loop.last %}, {% endif %}
												{% endfor %}
											</strong>
										</li>
										<li>Pieds :
											<strong>
												{% for strongFeet in player.strongFeets %}
													{{ strongFeet }}{% if not loop.last %}, {% endif %}
												{% endfor %}
											</strong>
										</li>
										<li>Club actuel : <strong><a href="#">{{ player.currentClub.abbrLabel }}</a></strong></li>
										{# <li>Club d'appartenance : <strong>{{ player.currentClub.abbrLabel }}</strong></li> #}
										<li>Type de contrat avec le Club : <strong>{{ player.status }}</strong></li>
										<li>Durée du contrat : <strong>{{ player.status }}</strong></li>
										<li>Niveau : <strong>{{ player.level }}</strong></li>
									</ul>
									{% if player.page.isGranted(app.user, "ADMIN") %}
										<a href="{{ path('update_player_data', {id: player.id, slug: player.slug}) }}" class="btn btn-block btn-outline-primary mb-1">Modifier</a>
									{% endif %}
								</div>
							</div>
							
							<div class="row">
								<div class="col py-1 my-1 shadow-sm bg-white">
									<h5 class="h4">Biographie</h3>
									<hr/>
									<p>
										{{ player.biographie }}
									</p>
									{% if player.page.isGranted(app.user, "ADMIN") %}
										<a href="{{ path('update_player_data', {id: player.id, slug: player.slug}) }}" class="btn btn-block btn-outline-primary mb-1">Modifier</a>
									{% endif %}
								</div>
							</div>

							<div class="row">
								<div class="col py-1 my-1 shadow-sm bg-white">
									<h5 class="h4">Mes ambitions</h3>
									<hr/>
									<p>
										{{ player.ambition }}
									</p>
									{% if player.page.isGranted(app.user, "ADMIN") %}
										<a href="{{ path('update_player_data', {id: player.id, slug: player.slug}) }}" class="btn btn-block btn-outline-primary mb-1">Modifier</a>
									{% endif %}
								</div>
							</div>

							

							{# <div class="row">
								<div class="col py-1 my-1 shadow-sm bg-white">
									<h5 class="h4">Langues parlées</h3>
									<hr/>
									<p></p>
								<div>
							</div> #}

						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="video" role="tabpanel" aria-labelledby="video-tab">Il y a pas encore des vidéos des matchs de ce joueur.</div>
				<div class="tab-pane fade" id="statistique" role="tabpanel" aria-labelledby="statistique-tab">Il y a pas encore des statistiques sur ce joueur.</div>
				<div class="tab-pane fade" id="avi" role="tabpanel" aria-labelledby="avi-tab">
					<div class="row">
						<div class="col">
							<div class="card rounded-0">
								<div class="mx-3 my-2">
									{% for notice in player.notices %}
										{% if not notice.isLocked %}
											{% include "player_notice/notices.html.twig" %}
										{% endif %}
									{% else %}
										<div class="" style="font-size: small;">
											Soyez le premier à laisser un avis sur ce joueur
										</div>
									{% endfor %}
								</div>
									{% if not player.hasNotice(app.user) %}
										<div class="card-footer">
											<form action="{{ path('player_notice_new', {'player_id': player.id}) }}" class="form-inline" method="post">
												<input type="text" class="form-control" name="player_notice_content" placeholder="Ajouter un avis" style="width: 80%;"/>
												<button class="btn font-weight-bold" style="color: #0056b3;">Laisser un avis</button>
											</form>
										</div>
									{% endif %}
							</div>
						</div>
					</div>	
				</div>
				<div class="tab-pane fade" id="transfert" role="tabpanel" aria-labelledby="transfert-tab">Il y a pas encore des données de transferts sur ce joueur.</div>
				<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Cette section est vide pour l'instant.</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/player.js') }}"></script>
	<script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
	<script>
		const player = new Plyr('#player', {
			controls: ['play-large', 'play', 'progress', 'current-time', 'mute', 'volume', 'captions', 'settings', 'pip', 'airplay', 'fullscreen'],
			settings: ['captions', 'quality', 'speed', 'loop']
		});
	</script>
{% endblock %}