{% extends "layout.html.twig" %}

{% block title %}Touver un joueur{% endblock %}

{% block section %}
    <div class="container pt-3">
        <h5 class="text-center font-weight-bold">Trouvez facilement des joueurs en combinant plusieurs critères.</h5>
        <hr/>
        <form action="" method="post" class="form-inline justify-content-center">
            {{ form_widget(searchForm.name)}}
            {{ form_widget(searchForm.minAge)}}
            {{ form_widget(searchForm.maxAge)}}
            {{ form_widget(searchForm.license)}}
            {{ form_widget(searchForm.level)}}
            {{ form_widget(searchForm.name)}}
            
            <button class="btn btn-lg- btn-primary rounded-0 mt-md-0 mt-1" type="submit">Chercher</button>
        </form>
        <hr/>
    </div>

    <div class="container mt-3">
        <div class="list-group">
            {% for player in players %}
                <div class="list-group-item mb-1">
                    <a href="{{ path("player", {slug: player.slug, id: player.id}) }}"><img src="{{ asset(player.picture.path) }}" class="rounded-circle" style="width: 55px; height: 55px;" /></a>
                    <span class="text-capitalize font-weight-bold">{{ player.name }}</span>, <a href="{{ path("player", {slug: player.slug, id: player.id}) }}">cliquez pour voir sa page promotionnelle.</a>
                    
                    <span class="float-right">
                        {% if app.user in player.fans %}
                            <a href="{{ path('player_disfollow', {'id': player.id}) }}" class="btn btn-sm btn-primary rounded-0">Je ne suis plus fan</a>
                        {% else %}
                            <a href="{{ path('player_follow', {'id': player.id}) }}" class="btn btn-sm btn-primary rounded-0">Devenir fan</a>
                        {% endif %}
                    </span>
                </div>
            {% else %}
                <div class="list-group-item">
                    Nous n'avons pas trouvé de joueur avec vos critères, veuillez les affiner pour en trouver plus.
                </div>
            {% endfor %}
        </div>
    </div>

    {% if page <= nbParPage %}
        <div class="row my-4">
            <div class="col text-center">
                <a href="{{ path('home', {'page': page}) }}" class="btn btn-custom-outline-danger rounded-pill text-decoration-none">Voir plus</a>
            </div>
        </div>
    {% endif %}

{% endblock %}