{% extends 'layout.html.twig' %}

{% block title %}Fil d'actualités{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('build/flux.css') }} ">
{% endblock %}

{% block section %}
	<div class="custom-container container-fluid">
		<div class="row my-2">
			<div class="col-lg-3 mb-2">
				{% include 'user/user-summary.html.twig' %}
			</div>
			<div class="col-lg-5">
				<div class="row">
					<div class="col">
						{% include 'post/post-form.html.twig' %}
					</div>
				</div>
				
				{% if app.user.category == 'player' and app.user.managedplayers.count() == 0 %}
				<div class="row mt-1">
					<div class="col">
						<div class="card rounded-0 border p-2" style="font-size: 14px;">
							Booster votre carriere de footballeur pour tenter de se faire recruter par des clubs, recruteurs, managers, etc. <a href="{{ path('create_player') }}" class="btn btn-sm btn-primary"><i class="fas fa-flag fa-sm"></i> Créer votre page de promotion pour joueur</a>
							
						</div>
					</div>
				</div>
				{% endif %}
				{% include "default/_flash-message.html.twig" %}
				<hr>
				{% for post in posts %}
					{% include 'post/post-card.html.twig' %}
				{% else %}
				<div class="row">
					<div class="col-lg-10 bg-white mx-auto text-center p-4 font-weight-bold">
						Aucune publication pour le moment
					</div>
				</div>  
				{% endfor %}

				{% if page <= nbParPage %}
				<div class="row my-4">
					<div class="col">
						<a href="{{ path('home', {'page': page}) }}" class="btn btn-block btn-custom-outline-danger rounded-0 text-decoration-none">Voir plus</a>
					</div>
				</div>
				{% endif %}
			</div>
			<div class="col-lg-4">
				{{ render(path('players_suggestion', {'id': app.user.id })) }}
				<div class="m-2"></div>
				{{ render(path('users_suggestion', {'id': app.user.id })) }}
			</div>
		</div>
	</div>
{% endblock %}