<!DOCTYPE html>
<html>
<head>
	<title>
		Futbol-scout, la plateforme de football.
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <link rel="stylesheet" type="text/css" href="{{asset('lp/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('lp/css/bootstrap.css')}}"> -->
    <link rel="stylesheet" type="text/css" href="{{asset('lp/css/style.css')}}">
     <link rel="stylesheet" type="text/css" href="{{asset('lp/css/font-awesome.css')}}">
    <link rel="shortcut icon" href="{{asset('lp/favicon/favicon-futbol-scout-transparent.png')}}">
    <link rel="stylesheet" href="{{ asset('cdn/bootstrap4/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>
<body>
	<div class="section" style="background-image: url('lp/images/jhan-castillon-610652-unsplash.jpg');background-size:cover;text-align: center; height: 100vh;">
		
		<br>
		<div class="container">
			<br>
			<div class="row">
				<div class="col-md-12 col-lg-12 col-xs-12 mb-0">
					<p class="text-center">
						<img src="{{asset('lp/images/logo-futbol-scout.png')}}" alt="" title="" height=300 />
					</p>
				</div>

			 	<div class="col-md-12 col-lg-12 col-xs-12" id="connect">
					<h1 class="text-center" style="color:#fff;font-size:3em">
						<b>
							Futbol-Scout plateforme de football
						</b>
					</h1>
					<p class="text-center" style="font-size: 1.2em;color:#fff">
						<b>
						Promouvoir votre talent de footballeur, Mise en place d'un ecosystème pour le football, Un outil pour recruter des jeunes talents au niveau local et international, un média sportive qui vous connecte aux informations de vos clubs favoris, une plateforme qui oeuvre pour le dévéloppement du football au milieu des jeunes.
						</b>
					</p>
					<div class="">
						<h3 class="h4" style="color: white;">Connectez-vous! Des bonnes choses vous attendent</h3>
						<form action="{{ path('app_login') }}" class="form-inline justify-content-center" method="post">
							<input type="text" class="form-control form-control-lg rounded-0 mr-1" placeholder="Mail" name="mail">
							<input type="password" class="form-control form-control-lg rounded-0 mr-1" placeholder="Mot de passe" current-password name="password">
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<button type="submit" class="btn btn-primary btn-lg rounded-0 mr-1">Se connecter</button>
							<a href="{{ path('app_register') }}" class="btn btn-primary btn-lg rounded-0">S'inscrire</a>
						</form>
					</div>
				</div>
			</div>
			<br><br><br>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-custom-red" id="navbar">
	<div class="container">
		<a class="navbar-brand font-weight-bold" href="{{ path('home') }}" style="color: white;">futbol-scout</a>
		{% if app.user %}
		<form action="#" class="form-inline justify-content-start">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Recherche" />
				<div class="input-group-append">
					<div class="input-group-text"><i class="fas fa-search"></i></div>
				</div>
			</div>
		</form>
		{% endif %}
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			<ul class="navbar-nav">
			   {% if app.user %}
				<li class="nav-item mx-2 text-center"><a href="{{ path('user_profil', {'slug': app.user.slug, 'id':app.user.id})}}" class="nav-link border-right-"> {{ app.user.firstname|capitalize }} </a></li>
				<li class="nav-item mx-2 text-center"><a href="{{ path('home')}}" class="nav-link border-right-">Fil d'actualités</a></li>
				<li class="nav-item mx-2 text-center"><a href="#" class="nav-link border-right-">Notifications</a></li>
				{% if app.user.category == 'player' %}
				<li class="nav-item mx-2 text-center"><a href="{{ path('player', {'slug': app.user.slug, 'id': app.user.id})}}" class="nav-link">Ma page (Joueur)</a></li>
				{% endif %}
			{% endif %}
			<li class="nav-item">
				{% if app.user %}
				<a href="#" class="btn btn-not-focus dropdown-toggle not-caret my-0 nav-btn" data-toggle="dropdown">
					<img src="{{ asset(app.user.avatar.path)}}" alt="{{app.user.avatar.alt}}" class="rounded-circle" style="width: 30px;height: 30px;">
				</a>
				<div class="dropdown-menu dropdown-menu-right rounded-0  my-0">
					<a class="dropdown-item" href="{{ '' }}"><i class="fas fa-user"></i> Modifier le profil</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{{ path('app_logout') }}">Déconnecxion <i class="fas fa-sign-out-alt"></i></a>
				</div>
				{% else %}
				<a href="{{ path('app_login') }}" class="btn btn-outline-light rounded-0 shadow-sm nav-btn">Connexion</a>
				<a href="{{ path('app_register') }}" class="btn btn-outline-light rounded-0 shadow-sm nav-btn">Inscription</a>
				{% endif %}
			</li>
			</ul>
		</div>
	</div>
</nav>
	<section id="">
		<div class="container">
			<div class="row" id="network">
				<div class="col-md-12 col-xs-12 col-sm-12">
					<br>
					<h2 class="text-center" style="color: #0099cc">
						<b>
							NETWORKING
						</b>
					</h2> 
					<p class="text-center">
						Nous vous connectons les uns les autres, pour une meilleure experience, pour un ecosytème riche. 
					</p>
					<br><br>
				</div>
			</div>	
		
			<div class="row">
				<div class="col-md-3 col-xs-12 col-sm-3">
					<p class="text-center">
						<img src="{{asset('lp/images/football-player.png')}}" alt="iconefoot" class="" width="50px" />
					</p>
					<h3 class="text-center"><b>Joueurs</b></h3>
					<p class="text-center">
						Promouvez votre talent à travers des videos et des données, entrez en contact avec des recruteurs,scout,manager,etc.
					</p>
				</div>

				<div class="col-md-3 col-xs-12 col-sm-3">
					<p class="text-center">
						<img src="{{asset('lp/images/man.png')}}" alt="iconefoot" title="" width="50px" />
					</p>
					<h3 class="text-center"><b>Recruteurs</b></h3>
					<p class="text-center">Découvrez des jeunes footballeurs talentueux grace aux données de leurs profils, avant tous les autres.</p>
				</div>
				
				<div class="col-md-3 col-xs-12 col-sm-3">
					<p class="text-center">
						<img src="{{asset('lp/images/futbol-coach.png')}}" alt="iconefoot" title="" width="50px" />
					</p>
					<h3 class="text-center"><b>Coach, Entraineur</b></h3>
					<p class="text-center">
						Découvrez des jeunes joueurs et décidez qui recruter au niveau local.
					</p>
				</div>
				<div class="col-md-3 col-xs-12 col-sm-3">
					<p class="text-center">
						<img src="{{asset('lp/images/flag.png')}}" alt="iconefoot" title="" width="50px" />
					</p>
					<h3 class="text-center"><b>Autres</b></h3>
					<p class="text-center">
						Entraineurs,dirigeants sportifs, président des clus,journaliste sportif,fans,etc.
					</p>
				</div>
			</div>
		</div>
	</section>
	<br><br>
	<section class="" style="background-color:#333333;color:#fff;padding: 20px">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div>
						<h2 class="text-center">NOS EVENEMENTS</h2> <br>
						<p class="text-center">Afin de hausser le niveau du football en République Démocratique du congo nous organisons les événements ci-dessous.</p>
					</div>
				</div>
			</div> <br><br>
			<div class="row" class="text-center">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<p class="text-center">
						<img src="{{asset('lp/images/chat.png')}}" alt="" title="" width="30%" >
					</p>
					<h2 class="text-center">
						<b>Forum</b>
					</h2> 
					<p class="text-center"> 
						Dans un monde de plus en plus connecté, nos forums physiques porteront sur l'usage des nouvelles technologies pour la promotion du football des jeunes ainsi que pour résoudre des événtuels problèmes lié au football des jeunes.
					</p> <br><br>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<p class="text-center">
						<img src="{{asset('lp/images/medal.png')}}" alt="" width="30%" >
					</p>
					<h2 class="text-center"><b>Mobeti Ndembo</b></h2>
					<p class="text-center">
						Un événement qui sera organisé en fin des différents saisons sportives des championnats couverts par futbol-scout afin de primer les meilleurs athlètes.  
						<br><br> 
					</p>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<p class="text-center">
						<img src="{{asset('lp/images/positive-vote.png')}}" alt="" width="30%" >
					</p>
					<h2 class="text-center"><b>Votes</b></h2>
					<p class="text-center">
						Futbol scout vous donne l'opportunité de voter pour les meilleurs jeunes footballeurs évoluant dans des championnats couverts par la plateforme pour ainsi leurs primer lors de l'événement Mobeti Ndembo.  
						<br><br> 
					</p>
				</div>
			</div>
		</div>
		<p>
			<br><br>
		</p>
	</section>
	<section style="background-color:#ff6666; background-size:cover;">
		<br><br>
		
		<p class="text-center">
			<img src="{{asset('lp/images/fan.png')}}" alt="flag" width="20%" />
		</p>
		<h1 class="text-center" style="color:#fff"><b>SOUTENEZ CETTE INITIATIVE</b></h1>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="text-center h3" style="color:#fff">
						Nous travaillons aussi pour <strong>l'amélioration des conditions de pratique du football </strong> en République Démocratique du Congo, en fournissant des accéssoires aux jeunes associations sportives. Toute aide de n'importe quelle nature de votre part sera la bienvenue.
					</p>
					<p class="text-center">
						<a href="#" class="btn btn-primary">Soutenir, Faire un don</a>
					</p>
				</div>
			</div>
		</div>
		<br><br>
	</section>

	<div class="container">
		<!-- Section: Testimonials v.3 -->
		<section class="team-section text-center my-5">
		  <br>
		  <!-- Section heading -->
		  <h2 class="h1-responsive font-weight-bold my-5"><b>Ce qu'ils pensent de la plateforme</b></h2>
		  <!-- Section description -->
		  <p class="dark-grey-text w-responsive mx-auto mb-5">
		  	Ils ont été nombreux à nous laisser un petit commentaire
		  </p>

		  <!--Grid row-->
		  <div class="row text-center">
		    <!--Grid column-->
		    <div class="col-md-4 mb-md-0 mb-5">

		      <div class="testimonial">
		        <!--Avatar-->
		        <div class="avatar mx-auto">
		          <img src="{{asset('lp/images/testimony/avatar1.jpg')}}" class="img-circle">
		        </div>
		        <!--Content-->
		        <h4 class="font-weight-bold dark-grey-text mt-4"><b>Anna Deynah</b></h4>
		        <h6 class="font-weight-bold blue-text my-3">Analyste sportif</h6>
		        <p class="font-weight-normal dark-grey-text">
		         Un très bon concept pour la promotion des footballeurs, une nouvelle façon de faire les choses peut etre</p>
		        <!--Review-->
		      </div>
		    </div>
		    <!--Grid column-->
		    <!--Grid column-->
		    <div class="col-md-4 mb-md-0 mb-5">
		      <div class="testimonial">
		        <!--Avatar-->
		        <div class="avatar mx-auto">
		          <img src="{{asset('lp/images/testimony/avatar2.jpg')}}" class="img-circle	">
		        </div>
		        <!--Content-->
		        <h4 class="font-weight-bold dark-grey-text mt-4"><b>John Doe</b></h4>
		        <h6 class="font-weight-bold blue-text my-3">Agent de joueur</h6>
		        <p class="font-weight-normal dark-grey-text">
		          Une facilité pour la détéction des talents en moins de temps facilitant ainsi le travail d'un recruteur.</p>
		        <!--Review-->
		      </div>
		    </div>
		    <!--Grid column-->
		    <!--Grid column-->
		    <div class="col-md-4">
		      <div class="testimonial">
		        <!--Avatar-->
		        <div class="avatar mx-auto">
		          <img src="{{asset('lp/images/testimony/avatar3.jpg')}}" class="img-circle">
		        </div>
		        <!--Content-->
		        <h4 class="font-weight-bold dark-grey-text mt-4"><b>Maria Kate</b></h4>
		        <h6 class="font-weight-bold blue-text my-3">Entrepreneur</h6>
		        <p class="font-weight-normal dark-grey-text">
		        	idéé génial, désormais une référence surtout plus pour les jeunes footballeurs africains qui aspirent a des carrières pro.
		        </p>
		        <!--Review-->
		      </div>
		    </div>
		    <!--Grid column-->
		  </div>
		  <!--Grid row-->
		</section>
		<!-- Section: Testimonials v.3 -->
		<br>
	</div>
	<br><br>
	<section style="padding: 10px;">
		<div class="row text-center">
			<div class="container">
				<div class="col-md-12">
					<div class="">
					<h3 class="text-center" style=""><b>Retrouvez nous sur les réseaux sociaux</b></h3> <br>
						<div class="fb-like" data-href="https://web.facebook.com/FScout243/" data-width="" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
					 <br>
					</div>
				</div>
			</div>
		</div> <br><br>
		<div class="row">
			<div class="container">
				<p class="text-center">Copyright &copy; 2019 futbol-scout, Rép.Democratique du congo. Contact : <a href="tel:0813849555">0813849555</a> &nbsp; Email: <a href="mailto:jeancykinganga@gmail.com">jeancykinganga@gmail.com</a></p>
			</div>
		</div>
	</section>
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.3"></script>
	<script src="{{ asset('cdn/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('cdn/bootstrap4/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>
	<script>
		$(function (){
			$('.carousel').carousel();
			$('.carousel').carousel({ interval: 10000 });
		});

		var $navbar = $('#navbar');
		$navbar.removeClass('bg-custom-red');
		$navbar.removeClass('sticky-top');
		$navbar.addClass('fixed-top');

		var $win = $(window);

		$win.on('scroll', function() {
			var top = $win.scrollTop();

			if (top > 175) {
				$navbar.addClass('bg-custom-red');
			}
			if (top < 175) {
				$navbar.removeClass('bg-custom-red');
			}
		});

	</script>
</body>
</html>