<div class="row mb-2">
	<div class="col">
		<div class="card rounded-0 shadow-sm border">
			<div class="mx-3 my-2">
				<div class="row">
					<div class="col-10">
						<img src="{{ asset(post.author.avatar.path) }}" alt="Image" class="rounded-circle m-0 float-left" style="width: 50px;height: 50px;"/>
						<h6 class="d-inline mb-0 mx-2"> <a href="{{ path('user_profil', {'slug': post.author.slug, 'id': post.author.id})}}" class="text-decoration-none">{{ post.author.username|capitalize }}</a></h6>
					    <span class="d-block align-top "  style="font-size: 10.3px; margin-left: 3.75rem;">
					    	{% if post.author.nbFollowers > 0 %}
					    	Suivi par {{post.author.nbFollowers}} personne{% if post.author.nbFollowers > 1 %}s{% endif %}
					    	{% else %}
					    	Il n'a pas encore de followers
					    	{% endif %}
					    </span>
						<span class="d-none align-top" style="font-size: 10px; margin-left: 0.7rem;">26 min</span>
					</div>
					<div class="col-2 text-right">
						<button class="btn btn-not-focus dropdown-toggle not-caret my-0" data-toggle="dropdown">
							<i class="fas fa-ellipsis-h fa-sm align-text-top"></i>
						</button>
						<div class="dropdown-menu dropdown-menu-right rounded-0  my-0" style="font-size: small;">
						  	<a class="dropdown-item" href="{{ path('post_show', {'id': post.id}) }}"><i class="fas fa-eye"></i> Voir la publication</a>
						  	{% if post.isAuthor(app.user) %}
							<a class="dropdown-item" href="{{ path('post_update', {'id': post.id}) }}"><i class="fas fa-pencil-alt"></i> Modifier la publication</a>
						  	{% endif %}
						  	<div class="dropdown-divider"></div>
						  	<a class="dropdown-item" href="{{ path('post_is_abuse', {'id': post.id}) }}"><i class="fas fa-flag"></i> Singaler un abus</a>
						  	{% if post.isAuthor(app.user) %}
							<a 
						  	class="dropdown-item" 
						  	href="{{ path('post_remove', {'id': post.id, '_token': csrf_token('delete' ~ post.id) }) }}"
						  	><i class="fas fa-trash-alt"></i> Supprimer la publication</a>
						  	{% endif %}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ post.content }}
					</div>
				</div>
			</div>
			{% if post.attachement %}
			<div class="card-img-top">
				<img src="{{ asset(post.attachement.path) }}"  style="width: 100%;height: 100%;"/>
			</div>
			{% endif %}
			
			<div class="mx-3 my-2" style="font-size: small;">
				<div>
					{% if post.nbLikes > 0 %}
					<a href="#" class="text-decoration-none"><i class="fas fa-thumbs-up"  style="width: 10px;height: 10px; color: #42a6d7;"></i> <span class="align-middle ml-2" style="color: #696c6f;">{{post.nbLikes}}</span> </a>
					{% else %}
				    <a href="#" class="text-decoration-none" style="color: #696c6f;"><i class="fas fa-thumbs-up"  style="width: 10px;height: 10px;"></i> <span class="align-middle ml-2" style="color: #696c6f;">{{post.nbLikes}}</span> </a>
					{% endif %}
					<span class="mx-1">|</span>
					<a href="{{ path('post_show', {'id': post.id}) }}" class="text-decoration-none {% if app.request.requestUri  == path('post_show', {'id': post.id})%}{{ 'disabled' }}{% endif %}" style="color: #696c6f;">
						{# <i class="fas fa-comment-alt" style="width: 10px;height: 10px; font-size: medium;"></i> #}
						<span class="align-middle" style="color: #696c6f;">{{post.nbComments}} commentaire{% if post.nbComments > 1 %}s{% endif %}</span>
					</a>
					{% if  not app.request.requestUri  == path('post_show', {'id': post.id}) %}
					<span class="mx-1">|</span>
					<a
						href="{{ path('post_show', {'id': post.id}) }}" class="text-decoration-none" style="color: #696c6f;">
						{# <i class="fas fa-comment-alt" style="width: 10px;height: 10px; font-size: medium;"></i> #}
						<span class="align-middle" style="color: #696c6f;">voir en integralité</span>
					</a>
					{% endif %}
				</div>
				<hr>				
				<div>
					{% if post.hasLike(app.user) %}
						{% set path = 'like_remove' %}
					{% else %}
					    {% set path = 'like_add' %}
					{% endif %}
					<a href="{{ path(path, {'id': post.id})}}" class="text-decoration-none" onclick="$like(this, {{" "}}); return false;" style="color: {% if post.hasLike(app.user) %}#42a6d7{% else %}#696c6f{% endif %};" id="like-link-{{ post.id }}">
						<i class="fas fa-thumbs-up" style=""></i>
						J'aime</a>
					<a href="{{ path('post_show', {'id': post.id}) }}" class="text-decoration-none {% if app.request.requestUri  == path('post_show', {'id': post.id})%}{{ 'disabled' }}{% endif %}" style="color: #696c6f;">
						<i class="fas fa-comment-alt"></i>
						Commenter</a>
				</div>
			</div>
			<div class="mx-3 my-2">
				{% for comment in post.comments %}
					{% if loop.index <= 2 or app.request.attributes.get('_route') == 'post_show' %}
						{% include "post_comment/comments.html.twig" %}
					{% endif %}
				{% else %}
				<div class="" style="font-size: small;">
					Soyez le premier à commenter ceci
				</div>  
				{% endfor %}
			</div>
			<div class="card-footer">
				<form action="{{ path('post_comment_new', {'id': post.id}) }}" class="form-inline" method="post">
					<input type="text" class="form-control" name="post_comment_content" placeholder="Ajouter un commentaire" style="width: 75%;" />
					<button class="btn font-weight-bold" style="color: #0056b3;">Publier</button>
				</form>
			</div>
		</div>
	</div>
</div>