<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
        <title>An Error Occurred: {{ status_text }}</title>
        <link rel="stylesheet" href="{{ asset('cdn/bootstrap4/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('cdn/fontawesome/css/all.min.css') }}">
        <link rel="shortcut icon" href="{{asset('lp/favicon/favicon-futbol-scout-transparent.png')}}">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 d-flex align-items-center">
                    <div class="container mx-auto">
                        <h1 style="font-size: 100px;">{{ status_code }}</h1>
                        <div style="border: 5px solid black; width: 100px;" class="mb-3"></div>
                        <div>{{ status_text }}</div>
                        <div class="my-3">
                            <a href="/" class="btn btn-light btn-lg border"> Go Home <i class="fas fa-home"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8" style="background-image: url('/cdn/images/403.png'); height: 100vh; width: 100%; background-size: cover;"></div>
            </div>
            
        </div>
    </body>
</html>

