{% extends 'layout.html.twig' %}

{% block title %}Page d'acceuil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/profil.css') }}">
{% endblock %}

{% block section %}
	<div class="container-fluid" id="user-cover-img" style="background: url('/cdn/images/about_1.jpg');background-size: cover; height: 300px;">
		{#
		<a href="#" class="btn rounded-0 btn-custom-outline-danger bg-white mt-3 p-2 float-right" id="p-c-i"><i class="fas fa-camera fa-lg"></i> <span class="font-weight-bold">Changer l'image</span></a>
		<style>
			#p-c-i:hover {
				color: black !important;
			}
		</style>
		#}
	</div>
	<div class="custom-container container-fluid">
		<div class="row -my-2">
			<div class="col-md-3 rounded-0">
				<div class="card shadow-sm rounded-0 -position-fixed">
					<div class="card-body text-center">
						<img src="{{ asset(user.avatar.path) }}" alt="" class="rounded-circle card-custom-user-img border-white shodow-sm" style="width: 50px; height: 50px;">
						<div class="h6 font-weight-bold">{{ user.username|capitalize }}</div>
						{% if app.user == user %}
						<div><a href="{{path('user_change_avatar')}}" class="text-decoration-none" style="font-size: small;">Modifier votre photo</a></div>
						{% endif %}

						{% if app.user != user and user not in app.user.follows %}
						<div class="mt-2">
							<a href="{{path('user_follow', {'id': user.id})}}" class="font-weight-bold text-decoration-none">S'abonner <i class="fas fa-plus fa-sm"></i></a>
						</div>
						{% elseif app.user == user %}
							{# This condition block the message : Se désabonner #}
						{% else %}
						<div class="mt-2">
							<a href="{{path('user_disfollow', {'id': user.id})}}" class="font-weight-bold text-decoration-none">Se désabonner</a>
						</div>
						{% endif %}
						
					</div>
					<div class="card-footer" style="color: #696c6f;">
						<div class="row">
							<div class="col font-weight-bold">Abonné(e)s</div>
							<div class="col text-right"><a href="#" class="text-decoration-none font-weight-bold">{{ user.nbFollowers}}</a></div>
						</div>
						<div class="row">
							<div class="col font-weight-bold">Suivi(e)s</div>
							<div class="col text-right"><a href="#" class="text-decoration-none font-weight-bold">{{ user.nbFollows}}</a></div>
						</div>
					</div>
				</div>
				{# include 'user/user-summary.html.twig' #}
			</div>
			<div class="col-md-5 mt-2">
				
				<div class="row">
					<div class="col">
						{% include 'post/post-form.html.twig' %}
					</div>
				</div>
				<hr>
				

				{% for post in posts %}
					{% include 'post/post-card.html.twig' %}
				{% else %}
				    <div class="row">
				    	<div class="col bg-white text-center p-4 font-weight-bold">
				    		Aucune publication pour le moment
				    	</div>
				    </div>
				{% endfor %}
			</div>
			<div class="col-md-4">
				{{ render(path('players_suggestion', {'id': app.user.id })) }}
				<div class="m-2"></div>
				{{ render(path('users_suggestion', {'id': app.user.id })) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/profil.js') }}"></script>
{% endblock %}