<div class="row">
	<div class="col-10">
		<div class="card shadow-sm bg-white rounded-0">
			<div class="card-body">
				<div class="row">
					<div class="col-8"><div class="h6" style="color: #bcbab9;">Suggestions pour vous</div></div>
					<div class="col-4 text-right"><a href="#" class="text-decoration-none font-weight-bold" style="font-size: small; color: black;">Voir tout</a></div>
				</div>
				<div class="row mt-3">
					<div class="col">
						<!-- list of suggestions -->
						{% for user in usersSuggest %}
						    <div class="row my-3">
						    	<div class="col-8">
									<img 
										src="{{ asset(user.avatar.path) }}" 
										alt="{{ user.avatar.alt }}" 
										class="rounded-circle m-0 float-left" 
										style="width: 45px;height: 45px;"
										/>
									<h6 class="d-inline mb-0 mx-2 pb-0">
										<a 
											href="{{ path('user_profil', {'slug': user.slug, 'id': user.id})}}" 
											class="text-decoration-none"
											style="color: #696c6f;" 
										>{{ user.username|capitalize }}</a>
									</h6>
									<br class="p-0 m-0">
								    <span class="pt-0 mx-2 mt-0"  style="font-size: small; color: #bcbab9;">Description</span>
								</div>
								<div class="col-4 text-right align-middle">
									<a href="{{ path('user_follow', {'id': user.id}) }}" class="text-decoration-none align-middle font-weight-bold" style="font-size: small;">S'abonner</a>	
								</div>
								</div>
							{% else %}
							    <div class="row">
							    	<div class="col">
							    		Vous n'avez pas de suggestions
							    	</div>
							    </div>
							{% endfor %}
						    </div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>