{% extends 'layout.html.twig' %}

{% block title %}Page d'acceuil
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="stylesheet" href="{{ asset('build/complete_player_data.css') }}">
{% endblock %}

{% block section %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 my-4">
                <div class="row">
                    <div class="col shadow p-3 bg-white">
                        <h3 class="h5 text-center ">Modifier votre commentaire</h3>
                        <hr>
                        <form action="{{ path('comment_edit', {'id': comment.id, '_token': csrf_token('delete' ~ comment.id) }) }}" method="post">
                            <textarea class="form-control mb-1" name="comment_content" rows="5">{{ comment.content }}</textarea>
                            <button class="btn btn-custom-outline-danger btn-block">Modifier</button>
                            <a class="btn btn-outline-secondary btn-block" href="{{ path('post_show', {'id': comment.post.id}) }}">Annuler</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

